[submodule "vesc"]
	path = vesc
	url = https://github.com/f1tenth/vesc.git
	branch = foxy
[submodule "ackermann_mux"]
	path = ackermann_mux
	url = https://github.com/f1tenth/ackermann_mux.git
	branch = foxy-devel
[submodule "teleop_tools"]
	path = teleop_tools
	url = https://github.com/f1tenth/teleop_tools.git
	branch = foxy-devel
[submodule "drivers/logitech-f710-module"]
	path = drivers/logitech-f710-module
	url = https://github.com/jetsonhacks/logitech-f710-module.git
